# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.env
venv/
env/

# ===============================
# Flask
# ===============================
instance/
*.sqlite3
*.db

# ===============================
# Machine Learning / AI
# ===============================
models/
embeddings/
*.h5
*.pkl

# ===============================
# OpenCV / Media
# ===============================
fraud/
captured_images/
dataset/

# ===============================
# IDEs
# ===============================
.vscode/
.idea/
*.iml

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db
